<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>&lt;pixel-box> Component</title>
    <script src="../../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="../../../node_modules/lit/polyfill-support.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script
      type="module"
      src="../../../dist/Components/Box/pixel-box.js"
    ></script>
  </head>
  <body>
    <div class="container flex flex-col w-full h-auto p-5">
      <h1>Box Component</h1>
      <div class="cp-group flex flex-col gap-5 p-10">
        <h2>Default Box</h2>
        <pixel-box>This is a box</pixel-box>
      </div>

      <div class="cp-group flex flex-col gap-5 p-10">
        <h2>Round Box</h2>
        <pixel-box round>This is a box</pixel-box>
      </div>

      <div class="cp-group flex flex-col gap-5 p-10">
        <h2>Box custom size</h2>
        <pixel-box width="200" height="200">200px x 200px</pixel-box>
      </div>

      <div class="cp-group flex flex-col gap-5 p-10">
        <h2>Box full width</h2>
        <pixel-box fullwidth>This is a box</pixel-box>
      </div>

      <div class="cp-group flex flex-col gap-5 p-10">
        <h2>Box custom color</h2>
        <pixel-box customColor="#26ec4f">This is a box</pixel-box>
        <pixel-box customColor="#26ec4f" round>This is a box</pixel-box>
      </div>

      <div class="cp-group flex flex-col gap-5 p-10">
        <h2>Box error</h2>
        <pixel-box error>This is a box</pixel-box>
        <pixel-box round error>This is a box</pixel-box>
      </div>

      <div class="cp-group flex flex-col gap-5 p-10">
        <h2>Box disabled</h2>
        <pixel-box disabled>This is a box</pixel-box>
        <pixel-box round disabled>This is a box</pixel-box>
      </div>

      <div class="cp-group flex flex-col gap-5 p-10">
        <h2>Box styles</h2>
        <div class="flex flex-col gap-5 p-5 bg-black text-white">
          <h3>Light Style</h3>
          <pixel-box boxStyle="light">This is a box</pixel-box>
          <pixel-box boxStyle="light" round>This is a box</pixel-box>
        </div>
        <div class="flex flex-col gap-5 p-5 color-white">
          <h3>Dark Style</h3>
          <pixel-box boxStyle="dark">This is a box</pixel-box>
          <pixel-box boxStyle="dark" round>This is a box</pixel-box>
        </div>
      </div>
    </div>
  </body>
</html>
